body{
	margin:0;
}
ul{
	margin:0;
}
table{
	border-collapse:collapse;
}
th{
	font-weight:normal;
}
th,td{
	border:1px solid #ccc;
}

#root{
	margin:0.5em;
}

#root div {
	padding:10px;
}

.flex {
	display:flex;
	flex-wrap:wrap;
}
